<h1 id="PageTitle">ユーザプロフィール登録</h1>
<p>フォーム入力</p>
	<div class="container">
<!--
      <a href="http://zipcloud.ibsnet.co.jp/doc/api">
        powered by<br>
        <img src="logo_zipcloud.png" alt="Link for ZipCloud" width="15%" height="15%">
      </a>
-->
<!--
      <form action="http://devlabs.link/post.php">
-->
      <%#= form_for "", :url => {:action=>'http://devlabs.link/post.php'} do |f| %>
      <%= form_for "", :url => {:action=>'new'} do |f| %>
        <div class="form-group">
<!--
          <label for="inputDisplayName">表示名</label>
          <input type="text" class="form-control" id="inputDisplayName" placeholder="user001">
-->
          <%= label :user_profiles, :表示名 %>
          <%= text_field :user_profiles, :class => 'form-control', :id => 'inputDisplayName', :placeholder => 'user001' %>
        </div>

        <fieldset class="form-group">
<!--
           <legend>Gender Type</legend>
-->
<!--
           <label>性別</label>
-->
           <%= label :user_profiles, :性別 %>
           <div class="form-check">
               <label class="form-check-label">
                  男性: <%= radio_button 'user-profiles', 'genderType', 'men', :class =>'form-check-input', :id =>'optionsRadios1'%><br />
                  女性: <%= radio_button 'user-profiles', 'genderType', 'women', :class =>'form-check-input', :id =>'optionsRadios2' %>
          
<!--
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  男性
-->

               </label>
           </div>

<!--
           <div class="form-check">
-->
<!--
              <label class="form-check-label">
                 <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                 女性
-->
<!--
              </label>
-->
<!--
           </div>
-->
        </fieldset>

        <div class="form-inline form-group">
<!--
          <label for="input-zipcode-num">郵便番号</label>
          <div id="output-zipcode-errmsg"></div>
          <input type="text" class="form-control" id="input-zipcode-num" placeholder="例)1234567">
-->
          <%= label :user_profiles, :郵便番号 %>
          <%= text_field :user_profiles, :id =>"input-zipcode-num", :class => "form-control"%>
        　<%#= f.text_field:"郵便番号", :id =>"input-zipcode-num", :class => "form-control" %>

<!--          
          <button type="button" id="btn2" class="btn btn-primary">検索</button>
-->
          <%= button_to "検索", :action => "new", :id => "btn2", :class =>"btn btn-primary"%>
        </div>

<!--
        <div class="form-group">
          <label>住所</label>
          <label for="search-result1">都道府県</label>
          <input type="text" class="form-control" id="search-result1" placeholder="Output Text"> 
        </div>
-->
        <%= label :user_profiles, :住所 %>
        <div class="form-group">
          <%= label :user_profiles, :都道府県 %>
          <%= text_field :user_profiles, :id =>"search-result1", :class => "form-control", :placeholder=>"OutptText"%>
        </div>
<!--
        <div class="form-group">
          <label for="search-result2">市区町村</label>
          <input type="text" class="form-control" id="search-result2" placeholder="Output Text"> 
        </div>
-->
        <div class="form-group">
          <%= label :user_profiles, :市区町村 %>
          <%= text_field :user_profiles, :id =>"search-result2", :class => "form-control", :placeholder=>"OutptText"%>
        </div>
<!--
        <div class="form-group">
          <label for="search-result3">番地など</label>
          <input type="text" class="form-control" id="search-result3" placeholder="Output Text"> 
        </div>
-->
        <div class="form-group">
          <%= label :user_profiles, :番地 %>
          <%= text_field :user_profiles, :id =>"search-result3", :class => "form-control", :placeholder=>"OutptText"%>
        </div>
<!--
        <div class="form-group">
          <label for="search-result4">検索結果(住所カナ)</label>
          <input type="text" class="form-control" id="search-result4" placeholder="Output Text"> 
        </div>
-->
 		    <div class="form-group">
          <label for="exampleSelect1">趣味</label>
          <select multiple class="form-control" id="exampleSelect1">
            <option>スポーツ</option>
            <option>音楽</option>
            <option>映画</option>
            <option>旅行</option>
            <option>料理</option>
            <option>車</option>
            <option>写真</option>
            <option>その他</option>
          </select>
      	</div>

        <div class="form-inline form-group">
          <%= select :page, :name, {"Railsの基礎" => "rails_base", "Rubyの基礎" => "ruby_base"}, {}, :multiple=>true %>
          <%#= select_tag 'page[name]', options_for_select([["Railsの基礎", "rails_base"], ["Rubyの基礎", "ruby_base"]],:multiple=>true) %>
<!--
          <label for="hobby-other1">その他(1)</label>
          <input type="text" class="form-control" id="hobby-other1" placeholder="other1">
          <label for="hobby-other2">その他(2)</label>
          <input type="text" class="form-control" id="hobby-other2" placeholder="other2">
           <label for="hobby-other3">その他(3)</label>
          <input type="text" class="form-control" id="hobby-other3" placeholder="other3">
-->
        </div>


        <div class="form-group">
<!--
        	<button type="button" id="btn3" class="btn btn-primary">登録</button>
-->
          <%= button_to "登録", :action => "new", :id => "btn3", :class =>"btn btn-primary"%>
        </div>

<!--
      </form>
-->
      <% end %>
    </div>